<Config>
  
	
	<SpriteCategory Name="ui_achievement">
        <AlwaysLoad/>
    </SpriteCategory>
	


	<SpriteCategory Name="ui_account">
		<AlwaysLoad/>
	</SpriteCategory>
	
	<SpriteCategory Name="ui_subscribe">
		<AlwaysLoad/>
	</SpriteCategory>
	
	<SpriteCategory Name="af_vassalage_notifications">
		<AlwaysLoad/>
	</SpriteCategory>

</Config>
